.fuhadShiblu_setNavScroll::-webkit-scrollbar{
    width: 10px;
  }
  .fuhadShiblu_setNavScroll::-webkit-scrollbar-track{
    background: rgba(255, 255, 255, 0.11);
    border-radius: 10px;
  }
  .fuhadShiblu_setNavScroll::-webkit-scrollbar-thumb{
    background: #03C988;
    border-radius: 10px;
  }
  .fuhadShiblu_setNavScroll{
    box-shadow: -1px 0px 12px 7px rgba(0,0,0,0.75);
  }