.fuhadShiblu_setProductsScroll::-webkit-scrollbar{
    width: 10px;
}
.fuhadShiblu_setProductsScroll:hover::-webkit-scrollbar-track{
    background: #ffffff;
    border-radius: 10px;
}
.fuhadShiblu_setProductsScroll:hover::-webkit-scrollbar-thumb{
    background: #adadad;
    border-radius: 10px;
}
.fuhadShiblu_setProductsScroll{
    box-shadow: -1px 0px 12px 7px rgba(0,0,0,0.75);
}
.fuhadShiblu_ProductsLine::after{
    @apply absolute bg-[#ff1818] w-full h-1 bottom-0 left-[50%] translate-x-[-50%];
    content: '';
}